.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 3%;
    text-align: left;
}


img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/*media queries*/

@media (min-width: 300px) and (max-width: 449px)  {
    .about{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 10%;
    }
}

/*tablet*/
@media (min-width: 450px) and (max-width: 555px)  {
    .about{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 5%;
    }  
}

@media (min-width: 555px) and (max-width: 750px)  {
    .about{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 5%;
    }
}

    @media (min-width: 751px) and (max-width: 900px)  {
        .about{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            padding-top: 3%;
        }
    }