.contact_body{
    background-image: url("../img/contact_me.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.contact{
    height: auto;
    border-radius: 10px;
    background-color: #F4E9F8;
    width: 50%;
    padding-bottom: 2%;
    color: #7B6986;
    border: 1px solid #C0C0C0;
}

contact_form{
    padding-top: 60%;
}

.contact form{
    padding-left: 5%;
    padding-right: 5%;
}

.contact input textarea{
    width: 80%;
}

#contact_heading{
    text-align: center;
}

.contact_form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding-top: 3%;
    color:#551A8B;
}

.contact_text{
    padding-top: 20%;
}

.submit{
    font-size: 0.9em;
    color: #7B6986;
}


/*iphone and other mobile phones*/
@media (min-width: 300px) and (max-width: 449px)  {
    .contact{
        width: 90%;
        margin-top: 15%;
    }

    .contact_text{
        padding-top: 0;
    }

    .contact_form{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 10%;
        color:#551A8B;
    }
    
}

/*tablet*/
@media (min-width: 450px) and (max-width: 555px)  {
    .contact{
        width: 80%;
        margin-top: 15%;
    }

    .contact_form{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 3%;
        color:#551A8B;
    }
     
}
@media (min-width: 555px) and (max-width: 750px)  {
    .contact{
        width: 70%;
    }
}



