

.summary{
    width: 100%;
    height: auto;
    color: black;
    padding-bottom: 10%;
}

#navbar{
    float: left;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 80vh;
    color: #7B6986;
    transition: all 0.3s;
}

#sidebar ul li a {
    padding: 9px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
   text-decoration: underline;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse{
    display: none;
}

footer{       
    font-size: 0.80em;
    color:#551A8B;
 } 
 
 footer ul {
    text-align: center;
 }
 
 footer ul li { 
     display: inline;
     padding: 30px;
  }
  
.name{
    text-align: center;
    margin-bottom: 0;
}


/*mobile responsive*/

/*iphone and other mobile phones*/
@media (min-width: 300px) and (max-width: 449px)  {

    #navbar{
        float: none;
    }

    .summary{
        padding-top: 5%;
    }
    #sidebar {
        position: absolute;
        transition: all 0.3s;
    }

    #sidebar ul li a {
        font-size: 0.75em;
    }

    #sidebar ul {
         text-align: center;
    }
    #sidebar ul li { 
        display: inline-block; 
    }

    footer{       
        font-size: 0.80em;
        color:#551A8B;
     } 

    footer ul li { 
        padding: 10px;
     }

     footer img{
         display: none;
     }
  
}

/*tablet*/
@media (min-width: 450px) and (max-width: 555px)  {
    #sidebar {
        margin-left: -180px;
    }
     
}


@media (max-width: 768px) {
    #sidebarCollapse{
        display: block;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    footer img{
        display: none;
    }

}
