body, html{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

#body_container {
    min-height:100%;
    position:relative;
 }

 #sidebar {
    color: white;
}

.summary{
    background-image: url("../img/Home_Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #AD75C9;
    width: 100%;
    height: auto;
    color: white;
    padding-bottom: 10%;
}

#full_logo{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

#center{
    text-align: center;
    padding-top: 20%;
    width: 85%;
}

.content{
    background-image: url("../img/home_background.png");   
    background-repeat: no-repeat;
    background-size: cover;
    color:#551A8B;
    padding-left: 9%;
    padding-right: 7%;
    text-align: justify;
    font-size: 1.3em;
    height: 2000px;
}

#recent{
    padding-top: 10%;
}

.work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.skills{
    padding-top: 32%;
}

.skill_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.purple{
    background-color: #551A8B;
    color: white;
    border-radius: 12px;
    height: 140px;
    width: 140px;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.btn-space{
   margin-right: 15px;
}

.contact{
    padding-bottom: 100px;
}

footer{       /*mobile design footer*/
  position:absolute;
   bottom:0;
   left: 0;
   width:100%;
   height:auto;
   font-size: 0.9em;
}

footer ul {
 text-align: left; 
}

footer ul li { 
    display: inline-block;
    padding: 30px;
 }


/*mobile responsive*/



/*iphone and other mobile phones*/
@media (min-width: 300px) and (max-width: 449px)  {
    #center{  
        padding-top: 40%; 
        width: 100%;
     }
     h3{
         font-size: 1.2em;
     }

    #navbar{
        float: none;
    }

    #full_logo{
        padding-top: 15%; 
    }

    #sidebar {
        position: fixed;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebar ul li a {
        font-size: 0.75em;
    }

    #sidebar ul { text-align: center; }
    #sidebar ul li { display: inline-block; }

    .work{
        display: grid;
        grid-template-columns: 1fr ;
        grid-column-gap: 25px;
    }

    .skill_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
    }
    
}

/*tablet*/
@media (min-width: 450px) and (max-width: 555px)  {
    #sidebar {
        margin-left: -180px;
    }

    #center{  
        padding-top: 20%; 
        width: 100%;
     }
 
     h3{
         font-size: 1.4em;
     }

     .work{
        display: grid;
        grid-template-columns: 1fr ;
        grid-column-gap: 25px;
    }

    .btn-space{
        margin-right: 2px;
        font-size: 0.9em;
    }

     .mobile_btn{
       font-size: 0.9em;
     }

     .skill_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
    }
     
}
@media (min-width: 555px) and (max-width: 750px)  {
    #center{  
       padding-top: 30%; 
       width: 90%;
    }

    h3{
        font-size: 1.4em;
    }

    .work{
        display: grid;
        grid-template-columns: 1fr ;
        grid-column-gap: 25px;
    }
    
    .btn-space{
        font-size: 1em;
    }

     .mobile_btn{
       font-size: 1em;
     }
}

@media (max-width: 768px) {
    #sidebarCollapse{
        display: block;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

}
