#sidebar,
.summary {
  color: #fff;
}
.summary {
  background-color: #2e0854;
  background-image: url(../img/home_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 8%;
  width: 100%;
}
#full_logo {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
#center {
  padding-top: 12%;
  text-align: center;
  padding-right: 12%;
}
.content {
  background-image: url(../img/home_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #551a8b;
  padding-left: 9%;
  padding-right: 7%;
  text-align: justify;
}
.font {
  font-size: 1.3em;
}
#recent {
  padding-bottom: 10%;
  padding-top: 10%;
}
h2#portfolio {
  text-align: center;
}
.work {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: 1fr 1fr;
}
#project {
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 3%;
}
.proj_img {
  -ms-interpolation-mode: nearest-neighbor;
  border: 1px solid #000;
  height: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  max-width: 100%;
}
.wp-caption {
  float: left;
  position: relative;
  width: 322px;
}
.wp-caption-text {
  -webkit-box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  left: 0;
  opacity: 0;
  padding: 0.75em 0.3em;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}
.wp-caption:hover .wp-caption-text {
  opacity: 1;
}
.skills {
  padding-top: 15%;
  text-align: center;
}
.skills li {
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 5%;
}

.skill_grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

.lang {
  height: 50%;
  left: 15%;
  position: absolute;
  top: 40%;
  width: 50%;
  color: #fff;
}
#html,
#node,
#php {
  left: 25%;
  position: absolute;
}
#css {
  left: 24%;
  position: absolute;
}
#bootstrap {
  left: 17%;
  position: absolute;
}
#javascript {
  left: 13%;
  position: absolute;
}
.contact_pad {
  padding-bottom: 3%;
  padding-top: 5%;
}
.purple {
  background-color: #551a8b;
  border-radius: 12px;
  color: #fff;
  height: 140px;
  position: relative;
  text-align: center;
  width: 140px;
}
img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}
.btn-space {
  margin-right: 15px;
}
.remove {
  display: none;
}

#more {
  padding-top: 50px;
  position: absolute;
}

@media (min-width: 300px) and (max-width: 449px) {
  #full_logo {
    /* margin-top: 20%; */
    display: none;
  }
  #center {
    padding-right: 0%;
    width: 100%;
  }
  h3 {
    font-size: 1.1em;
    line-height: 1.43em;
  }
  .work {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr;
  }
  .skill_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
  }
  #project {
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 15%;
  }
  h2#portfolio {
    text-align: left;
  }
  .wp-caption {
    width: 250px;
  }
  .wp-caption-text {
    font-size: 14px;
  }
  .skills {
    padding-top: 50%;
  }
}
@media (min-width: 450px) and (max-width: 600px) {
  #center {
    padding-top: 25%;
    padding-right: 0%;
  }
  h3 {
    font-size: 1.4em;
  }
  h2#portfolio {
    text-align: left;
  }
  #project {
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .wp-caption {
    width: 260px;
  }
  .wp-caption-text {
    font-size: 14px;
  }
  .work {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr;
  }
  .btn-space {
    margin-right: 2px;
  }
  .btn-space,
  .mobile_btn {
    font-size: 0.9em;
  }
  .skills {
    padding-top: 25%;
  }
  .skill_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
  }
}
@media (min-width: 600px) and (max-width: 770px) {
  h2#portfolio {
    text-align: left;
  }
  #project {
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #center {
    padding-top: 15%;
    padding-right: 0%;
  }
  h3 {
    font-size: 1.4em;
  }
  .work {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr;
  }
  .btn-space,
  .mobile_btn {
    font-size: 1em;
  }
}
@media (min-width: 771px) and (max-width: 900px) {
  #project {
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  #sidebar {
    min-width: 100px;
  }
}

@media (min-width: 900px) and (max-width: 1260px) {
  #project {
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #sidebar {
    min-width: 100px;
  }
}
